PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/authDB
JWT_SECRET=your JWT_SECRET_KEY_MUST_BE_HERE
JWT_REFRESH=your JWT_REFRESH_KEY_MUST_BE_HERE
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_MUST_BE _HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_MUST_BE _HERE